@font-face {
    font-family: 'Font_1';
    /* Назва шрифту (використовується в стилях) */
    src: url(/font/BebasNeue-Regular.ttf)
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@200..700&display=swap');
body{
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    color: black;
}
h1{
    text-align: center;
    font-family: 'Oswald';
    font-size: 50px;
    margin-left: 100px;
}
img{
    float: right;
    margin: 20px;
    width: 200px;
    height: auto;
}
a{
    color: rgba(6, 52, 255, 0.973);
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald';
}
.h1_1 {
    margin-left: 230px;
    text-align: center;
    font-size: 30px;
}
.btn_register {
    position: absolute;
    right: 10px;
    color: rgb(0, 0, 0);
    width: 15px;
    height: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 35px;
}
.a1{
    width: 60px;
    margin-top: 0px;
}